.features-page {
  .features-list {
    flex-wrap: wrap;
    height: fit-content;
    padding: 92px 0;
    row-gap: 100px;
    .feature {
      max-width: 25%;
    }
  }
}

@media only screen and (max-width: 864px) {
  .features-page {
    .features-list {
      flex-direction: row;
      .feature {
        max-width: 40%;
      }
    }
  }
}

@media only screen and (max-width: 580px) {
  .features-page {
    .features-list {
      .feature {
        max-width: 75%;
      }
    }
  }
}
