.card-outer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 64px;
  width: 40%;
  .card-inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 30px;
    h2 {
      @extend .header-font-large;
    }
    p.body {
      @extend .body-font;
      opacity: 0.6;
    }

    .invite {
      gap: 0;
      height: fit-content;
      width: 100%;
      a,
      p {
        width: 100%;
      }
      p {
        display: flex;
        gap: 18px;
        align-items: center;
      }
    }
  }
}

@media only screen and (max-width: 864px) {
  .card-outer {
    width: 65%;
    padding: 120px 48px;
  }
}

@media only screen and (max-width: 530px) {
  .card-outer {
    width: 100%;
    padding: 92px 48px;
  }
}
