.price-card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 120px 40px;
  gap: 32px;
  .price-card-list {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    .price-card {
      display: grid;
      grid-template-columns: 40px auto 40px;
      grid-template-rows: auto;
      grid-template-areas:
        ". title ."
        ". description ."
        ". cost ."
        ". button .";
      background: $grey;
      gap: 18px;
      padding: 40px 0px;
      text-align: center;

      &:nth-of-type(2) {
        background-color: $black;
        color: $white;
        padding-top: 72px;
        padding-bottom: 72px;

        button {
          color: $black;
          background-color: $white;
          &:hover {
            background-color: $light-grey;
          }
        }
      }
      h2 {
        grid-area: title;
        font-size: 24px;
        font-weight: bold;
        line-height: 25px;
      }
      p {
        grid-area: description;
        @extend .body-font;
        opacity: 0.6;
        margin-bottom: 18px;
      }
      h3 {
        grid-area: cost;
        @extend .header-font-large;

        span {
          display: block;
          @extend .body-font;
          opacity: 0.6;
        }
      }
      button {
        background-color: $black;
        color: $white;
        width: 270px;
        padding: 10px;
        margin-top: 26px;
        @extend .header-font-small;
        line-height: normal;
        transition: 0.3s ease;
        grid-area: button;
        &:hover {
          background-color: $light-grey;
          color: $black;
        }
      }
    }
  }
}

@media only screen and (max-width: 980px) {
  .price-card-container {
    .price-card-list {
      flex-direction: column;
      .price-card {
        grid-template-areas:
          ". title . cost ."
          ". description . cost ."
          ". description . . ."
          ". button . . .";
        grid-template-columns: 5% 40% 15% auto 5%;
        grid-template-rows: auto;
        text-align: left;

        h3 {
          text-align: right;
        }
      }
    }
  }
}

@media only screen and (max-width: 580px) {
  .price-card-container {
    .price-card-list {
      flex-direction: column;
      .price-card {
        grid-template-areas:
          ". title ."
          ". description ."
          ". cost ."
          ". button .";
        grid-template-columns: 10px auto 10px;
        grid-template-rows: auto;
        text-align: center;
        h3 {
          text-align: center;
        }
      }
    }
  }
}
