.section-1,
.section-2,
.section-3 {
  height: 650px;
  max-width: 100%;
  display: flex;
  .picture-container {
    width: 60%;
    img {
      width: 100%;
      height: 100%;
    }
  }
}

@media only screen and (max-width: 864px) {
  .section-1,
  .section-2,
  .section-3 {
    .picture-container {
      width: 35%;
    }
  }
}

@media only screen and (max-width: 480px) {
  body {
    padding-top: 60px;
  }
}
