.section-1,
.section-2,
.section-3 {
  height: 650px;
  max-width: 100%;
  display: flex;

  img {
    width: 60%;
  }
  .card-outer {
    width: 40%;
  }
}

body {
  display: grid;
  grid-template-rows: auto 1fr auto;
}
