// colors

$black: #000;
$white: #fff;
$light-grey: #dfdfdf;
$white-filter: brightness(0) saturate(100%) invert(100%) sepia(0%)
  saturate(7500%) hue-rotate(138deg) brightness(107%) contrast(102%);
$black-filter: brightness(0) saturate(100%) invert(0%) sepia(0%) saturate(0%)
  hue-rotate(301deg) brightness(103%) contrast(102%);
$filter: linear-gradient(-180deg, #ffc593 0%, #bc7198 52%, #5a77ff 100%);

// fonts

.body-font {
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
}

.header-font-large {
  font-weight: bold;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: 4px;
}

.header-font-medium {
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
}

.header-font-small {
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 2px;
}

.card-font-content {
  font-weight: 400;
  font-size: 13px;
}

@import "../components/navbar/navbar.scss";
@import "../components/footer/footer.scss";
@import "../components/card/card.scss";
@import "../components/story-card/story-card.scss";
@import "../components/feature/feature.scss";
@import "../components/header/header.scss";
@import "../components/pricing/pricing-card.scss";
@import "./home.scss";
@import "./stories/stories.scss";
@import "./features/features.scss";
