.navbar {
  ul {
    display: flex;
    gap: 37px;
    align-items: center;
    li {
      @extend .header-font-small;
      transition: 0.3s ease;
      &:hover {
        opacity: 0.3;
        cursor: pointer;
      }
      button.invite-button {
        @extend .header-font-small;
        background: $black;
        color: $white;
        padding: 12px 24px;
        transition: 0.3s ease;
        &:hover {
          background-color: $light-grey;
          color: $black;
          opacity: 1;
        }
      }
    }
  }
}

@media only screen and (max-width: 480px) {
  .navbar {
    top: 0;
    position: absolute;
    width: 100%;
    z-index: 1;
  }
}
