.navbar {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 257px;
  align-items: center;
  padding: 16px 0;

  ul {
    display: flex;
    gap: 37px;
    align-items: center;
    padding-top: 10px;
    li {
      @extend .header-font-small;
      transition: 0.3s ease;
      &:hover {
        opacity: 0.3;
        cursor: pointer;
      }
    }
  }
  button {
    @extend .header-font-small;
    background: $black;
    color: $white;
    padding: 12px 24px;
    transition: 0.3s ease;
    &:hover {
      background-color: $light-grey;
      color: $black;
    }
  }
}
