.footer {
  width: 100%;
  height: 250px;
  display: flex;
  align-items: center;
  background-color: $black;
  position: fixed;
  bottom: 0;

  .logo {
    gap: 72px;
    display: flex;
    flex-direction: column;
    width: fit-content;
    margin-left: 100px;
    margin-right: 120px;
    height: 140px;
    .icons {
      display: flex;
      justify-content: space-between;
      filter: $white-filter;
    }
  }
  .page-links {
    color: $white;
    display: flex;
    align-items: center;
    @extend .header-font-small;
    height: 140px;
    ul {
      display: flex;
      flex-direction: column;
      height: 100%;
      gap: 16px;
    }
  }
}
