.footer {
  width: 100%;
  height: 250px;
  display: flex;
  justify-content: space-between;
  background-color: $black;
  color: $white;
  padding: 60px 100px;

  .left {
    display: grid;
    grid-template-areas:
      "header header . links"
      ". . . links"
      ". . . links"
      "icons icons icons links";
    grid-template-columns: auto auto 120px 50px;
    grid-template-rows: auto 25px 25px auto;
    grid-auto-flow: column;
    .logo {
      grid-area: header;
      gap: 72px;
      display: flex;
      flex-direction: column;
      width: fit-content;
    }
    .icons {
      grid-area: icons;
      display: flex;
      align-items: center;
      gap: 12px;

      #facebook,
      #twitter,
      #pinterest,
      #instagram,
      #youtube {
        filter: $white-filter;
        &:hover {
          cursor: pointer;
          filter: initial !important;
        }
      }
    }
    .page-links {
      grid-area: links;
      display: flex;
      align-items: center;
      @extend .header-font-small;

      ul {
        display: flex;
        flex-direction: column;
        height: 100%;
        gap: 16px;
        li {
          &:hover a {
            opacity: 0.3;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 864px) {
  .footer {
    padding: 60px;
    .left {
      grid-template-areas:
        "header header . ."
        "links links links links"
        ". . . ."
        "icons icons icons icons";
      grid-template-rows: auto 25px 36px auto;
      .page-links {
        ul {
          flex-direction: row;
        }
      }
    }
    .invite {
      p.copyright {
        line-height: normal;
      }
    }
  }
}

@media only screen and (max-width: 530px) {
  .footer {
    height: auto;
    flex-direction: column;
    gap: 6rem;
    .left {
      grid-template-areas:
        ". header ."
        ". icons ."
        ". links .";
      grid-template-columns: 10% auto 10%;
      grid-template-rows: 1.5rem 100px 126px;
      .logo {
        width: 100%;
        align-items: center;
      }
      .icons {
        justify-content: center;
      }
      .page-links {
        justify-content: center;
        text-align: center;
        ul {
          flex-direction: column;
        }
      }
    }
    .invite {
      gap: 2rem;
      align-items: center;

      p.copyright {
        font-size: 11px;
      }
    }
  }
}

.invite {
  @extend .header-font-small;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 82px;
  a {
    &:hover p span {
      text-decoration: underline;
    }
    p {
      display: flex;
      gap: 12px;
      justify-content: flex-end;
      img {
        filter: $white-filter;
      }
      img.black {
        filter: $black-filter;
      }
    }
  }
  p.copyright {
    @extend .body-font;
    opacity: 0.52;
  }
}
