.beta {
  color: $white;
  position: relative;
  img.main {
    max-width: 100%;
    width: 100%;
    height: auto;
  }

  .beta-text {
    position: absolute;
    top: 0;
    transform: translateY(50%);
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0 100px;

    h2 {
      @extend .header-font-large;
      width: 40%;
    }
  }
}

@media only screen and (max-width: 864px) {
  .beta {
    .beta-text {
      padding: 0 32px;
      h2 {
        width: 60%;
      }
    }
    .invite {
      margin-right: 28px;
    }
  }
}

@media only screen and (max-width: 580px) {
  .beta {
    .beta-text {
      flex-direction: column;
      padding: 0;
      width: 100%;
      gap: 1.5rem;
      h2 {
        font-size: 32px;
        width: 100%;
        padding: 0 2rem;
      }
      .invite {
        width: 75%;
        margin-right: 0;
        a,
        p {
          width: 100%;
          justify-content: flex-start;
        }
      }
    }
  }
}
